<div class="intro-header">
	<img src = "/img/IMC.jpg" align ="right" >
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-message">
               
               <img src = "/img/alien.png" align = "left" height="134" width="160">
                <h1>Hi</h1>
                <img src = "/img/alien.png" align = "right" height="134" width="160">
				   <hr class="intro-divider">
                <p align = "center"> Welcome! please click Next below to start the game
                </p>
                 </li>
                </ul>
                
                 
            </div>
         </div>
    </div>
 </div>
<p align = "center">
<a href="#/profile" class="btn btn-primary btn-lg" >Next</a><p>
