
<p class="">Aliens have landed. They are the good and friendly kind, but look scary. 
Humans cannot communicate with them and assume they are hostile.. Despite being outnumbered and outgunned, 
Earth is about to launch an attack.  <strong>We will lose!</strong></p>

<p class="">Your mission is to try to establish communication with the Alien race to learn of their peaceful 
intentions and call off the attack.  </p>

<p>
The goal of these games is then to understand the alien symbol systems. Figure out the right sequence of tokens (symbols) to get the maximum score. 
</p> 

<img src = "/img/prtscr.png">
<p>
You can toggle between the tokens and hit "create" when you are ready to submit a solution.  
Use the "See submitted solution" function to see your previously submitted solutions. 
When you create a solution you will get a true score for your submission from a friendly alien who is trying to help you out. His patience is though limited: you have only 25 attempts per game so use them wisely. </p>
<p>
</p>
 <li ng-class="{ active: isActive('/conference/create')}" ng-click="collapseNavbar()"><a href="#/survey" >Click here when you are done reading</a></li>